@import url('Main.CSS');
.FirstDiv{
    background-color: var(--Background-Colour-Highlight);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}
.positionMain{
    position: absolute;
    top: 15%;
}

.SecondDiv{
    background-color: var(--Foreground-Colour);
    height: 10%;
    width: 40%;
    position: absolute;
    top: 10%;
    right: 30%;

}