@import url('Main.CSS');
.FirstDiv{
    background-color: var(--Background-Colour-Highlight);
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
}
.positionMain{
    position: absolute;
    top: 15%;
}

.SecondDiv{
    background-color: var(--Foreground-Colour);
    height: 25%;
    width: 80%;
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 15%;
    border-style: groove;

}