@import url("Main.HTML");

.FirstDiv{
    width: 100%;
    height: 100%;
    background-color: grey;
    position: absolute;
}

.Button{
    width: 45px;
    height: 30px;
    position: absolute;
    background-color: black;
    color: #039A96;
    top: 20%;
    left: 20%;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
    border: 6px solid #453f3f;
}

.Button:hover{
    transform: scale(1.25, 1.1);
    background-color: rgb(19, 19, 19);
    border-color: #4d4747;
}

.Name{
    font-family: "Teko", sans-serif;
    position: absolute;
    color: #0d6c68;
    top: 10%;
    left: 20%;
}